/*Start of CSS*/

header {
    background-color: #ffffff;
    /* height: 100px; */
    /* margin: 0 auto; */
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* margin-left: 233px; */
  
}


h2 {
    color: #4aaaa5;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

div {
    float: right;
}

body {
    color: #777777;
    background-color: white;
    /* border-color: #dddddd; */
    background: url("https://pbs.twimg.com/media/D4doEEJWwAAyHhp.png:large");
    
}

p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    
 }

 .container {
background-color: white;

 }

 main {
     width: 960px;
     background-color: white;
     margin: 0 auto ;
 }